@import '../fonts/picons-thin/style.css';

@import url(print.css) print;
/* Chandru i am removing this class, because we need to prepare in different way, i will let you know
.table-responsive{
overflow-x: visible;!important
} */

/** VALIDATION ERROR STYEL DEFINED ***/
.has-error{ color: #a94442;}
.has-error .form-control {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}
.instituteTitle { display:none; }
/* your styles go here */
.img30_30 { width:30px;}

/** LABELS STYEL DEFINED ***/
.label {
  border-radius: 0;
  text-shadow: none;
  font-weight: normal;
  color: #FFF;
  display: inline-block;
  background-color: #ABBAC3;
}
.label[class*="col-"][class*="arrow"] {
  min-height: 0;
}
@media screen and (-webkit-min-device-pixel-ratio: 0) {
  ::safari-only,
  .label:empty {
    display: inline-block;
  }
  ::safari-only,
  .badge:empty {
    display: inline-block;
  }
}
.badge {
  text-shadow: none;
  font-size: 12px;
  padding-top: 1px;
  padding-bottom: 3px;
  font-weight: normal;
  line-height: 15px;
  background-color: #ABBAC3;
}
.badge.no-radius {
  border-radius: 0;
}
.badge.radius-1 {
  border-radius: 1px;
}
.badge.radius-2 {
  border-radius: 2px;
}
.badge.radius-3 {
  border-radius: 3px;
}
.badge.radius-4 {
  border-radius: 4px;
}
.badge.radius-5 {
  border-radius: 5px;
}
.badge.radius-6 {
  border-radius: 6px;
}
.label.label-transparent,
.label-transparent,
.badge.badge-transparent,
.badge-transparent {
  background-color: transparent;
}
.label-grey,
.label.label-grey,
.badge.badge-grey,
.badge-grey {
  background-color: #A0A0A0;
}
.label-info,
.label.label-info,
.badge.badge-info,
.badge-info {
  background-color: #3A87AD;
}
.label-primary,
.label.label-primary,
.badge.badge-primary,
.badge-primary {
  background-color: #428BCA;
}
.label-success,
.label.label-success,
.badge.badge-success,
.badge-success {
  background-color: #82AF6F;
}
.label-danger,
.label.label-danger,
.badge.badge-danger,
.badge-danger {
  background-color: #D15B47;
}
.label-important,
.label.label-important,
.badge.badge-important,
.badge-important {
  background-color: #D15B47;
}
.label-inverse,
.label.label-inverse,
.badge.badge-inverse,
.badge-inverse {
  background-color: #333333;
}
.label-warning,
.label.label-warning,
.badge.badge-warning,
.badge-warning {
  background-color: #F89406;
}
.label-pink,
.label.label-pink,
.badge.badge-pink,
.badge-pink {
  background-color: #D6487E;
}
.label-purple,
.label.label-purple,
.badge.badge-purple,
.badge-purple {
  background-color: #9585BF;
}
.label-yellow,
.label.label-yellow,
.badge.badge-yellow,
.badge-yellow {
  background-color: #FEE188;
}
.label-light,
.label.label-light,
.badge.badge-light,
.badge-light {
  background-color: #E7E7E7;
}
.badge-yellow,
.label-yellow {
  color: #996633;
  border-color: #FEE188;
}
.badge-light,
.label-light {
  color: #888;
}
.label.arrowed,
.label.arrowed-in {
  position: relative;
  z-index: 1;
}
.label.arrowed:before,
.label.arrowed-in:before {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  border: 1px solid transparent;
  border-right-color: #ABBAC3;
}
.label.arrowed-in:before {
  border-color: #ABBAC3;
  border-left-color: transparent;
}
.label.arrowed-right,
.label.arrowed-in-right {
  position: relative;
  z-index: 1;
}
.label.arrowed-right:after,
.label.arrowed-in-right:after {
  display: inline-block;
  content: "";
  position: absolute;
  top: 0;
  z-index: -1;
  border: 1px solid transparent;
  border-left-color: #ABBAC3;
}
.label.arrowed-in-right:after {
  border-color: #ABBAC3;
  border-right-color: transparent;
}
.label-info.arrowed:before {
  border-right-color: #3A87AD;
}
.label-info.arrowed-in:before {
  border-color: #3A87AD #3A87AD #3A87AD transparent;
}
.label-info.arrowed-right:after {
  border-left-color: #3A87AD;
}
.label-info.arrowed-in-right:after {
  border-color: #3A87AD transparent #3A87AD #3A87AD;
}
.label-primary.arrowed:before {
  border-right-color: #428BCA;
}
.label-primary.arrowed-in:before {
  border-color: #428BCA #428BCA #428BCA transparent;
}
.label-primary.arrowed-right:after {
  border-left-color: #428BCA;
}
.label-primary.arrowed-in-right:after {
  border-color: #428BCA transparent #428BCA #428BCA;
}
.label-success.arrowed:before {
  border-right-color: #82AF6F;
}
.label-success.arrowed-in:before {
  border-color: #82AF6F #82AF6F #82AF6F transparent;
}
.label-success.arrowed-right:after {
  border-left-color: #82AF6F;
}
.label-success.arrowed-in-right:after {
  border-color: #82AF6F transparent #82AF6F #82AF6F;
}
.label-warning.arrowed:before {
  border-right-color: #F89406;
}
.label-warning.arrowed-in:before {
  border-color: #F89406 #F89406 #F89406 transparent;
}
.label-warning.arrowed-right:after {
  border-left-color: #F89406;
}
.label-warning.arrowed-in-right:after {
  border-color: #F89406 transparent #F89406 #F89406;
}
.label-important.arrowed:before {
  border-right-color: #D15B47;
}
.label-important.arrowed-in:before {
  border-color: #D15B47 #D15B47 #D15B47 transparent;
}
.label-important.arrowed-right:after {
  border-left-color: #D15B47;
}
.label-important.arrowed-in-right:after {
  border-color: #D15B47 transparent #D15B47 #D15B47;
}
.label-danger.arrowed:before {
  border-right-color: #D15B47;
}
.label-danger.arrowed-in:before {
  border-color: #D15B47 #D15B47 #D15B47 transparent;
}
.label-danger.arrowed-right:after {
  border-left-color: #D15B47;
}
.label-danger.arrowed-in-right:after {
  border-color: #D15B47 transparent #D15B47 #D15B47;
}
.label-inverse.arrowed:before {
  border-right-color: #333333;
}
.label-inverse.arrowed-in:before {
  border-color: #333333 #333333 #333333 transparent;
}
.label-inverse.arrowed-right:after {
  border-left-color: #333333;
}
.label-inverse.arrowed-in-right:after {
  border-color: #333333 transparent #333333 #333333;
}
.label-pink.arrowed:before {
  border-right-color: #D6487E;
}
.label-pink.arrowed-in:before {
  border-color: #D6487E #D6487E #D6487E transparent;
}
.label-pink.arrowed-right:after {
  border-left-color: #D6487E;
}
.label-pink.arrowed-in-right:after {
  border-color: #D6487E transparent #D6487E #D6487E;
}
.label-purple.arrowed:before {
  border-right-color: #9585BF;
}
.label-purple.arrowed-in:before {
  border-color: #9585BF #9585BF #9585BF transparent;
}
.label-purple.arrowed-right:after {
  border-left-color: #9585BF;
}
.label-purple.arrowed-in-right:after {
  border-color: #9585BF transparent #9585BF #9585BF;
}
.label-yellow.arrowed:before {
  border-right-color: #FEE188;
}
.label-yellow.arrowed-in:before {
  border-color: #FEE188 #FEE188 #FEE188 transparent;
}
.label-yellow.arrowed-right:after {
  border-left-color: #FEE188;
}
.label-yellow.arrowed-in-right:after {
  border-color: #FEE188 transparent #FEE188 #FEE188;
}
.label-light.arrowed:before {
  border-right-color: #E7E7E7;
}
.label-light.arrowed-in:before {
  border-color: #E7E7E7 #E7E7E7 #E7E7E7 transparent;
}
.label-light.arrowed-right:after {
  border-left-color: #E7E7E7;
}
.label-light.arrowed-in-right:after {
  border-color: #E7E7E7 transparent #E7E7E7 #E7E7E7;
}
.label-grey.arrowed:before {
  border-right-color: #A0A0A0;
}
.label-grey.arrowed-in:before {
  border-color: #A0A0A0 #A0A0A0 #A0A0A0 transparent;
}
.label-grey.arrowed-right:after {
  border-left-color: #A0A0A0;
}
.label-grey.arrowed-in-right:after {
  border-color: #A0A0A0 transparent #A0A0A0 #A0A0A0;
}
.label {
  font-size: 12px;
  line-height: 20px;
  height: 20px;
  padding: 0 5px;
}
.label.arrowed {
  margin-left: 5px;
}
.label.arrowed:before {
  left: -10px;
  border-width: 10px 5px;
}
.label.arrowed-in {
  margin-left: 5px;
}
.label.arrowed-in:before {
  left: -5px;
  border-width: 10px 5px;
}
.label.arrowed-right {
  margin-right: 5px;
}
.label.arrowed-right:after {
  right: -10px;
  border-width: 10px 5px;
}
.label.arrowed-in-right {
  margin-right: 5px;
}
.label.arrowed-in-right:after {
  right: -5px;
  border-width: 10px 5px;
}
.label-lg {
  padding: 0.3em 0.6em 0.4em;
  font-size: 13px;
  line-height: 1.1;
  height: 24px;
}
.label-lg.arrowed {
  margin-left: 6px;
}
.label-lg.arrowed:before {
  left: -12px;
  border-width: 12px 6px;
}
.label-lg.arrowed-in {
  margin-left: 6px;
}
.label-lg.arrowed-in:before {
  left: -6px;
  border-width: 12px 6px;
}
.label-lg.arrowed-right {
  margin-right: 6px;
}
.label-lg.arrowed-right:after {
  right: -12px;
  border-width: 12px 6px;
}
.label-lg.arrowed-in-right {
  margin-right: 6px;
}
.label-lg.arrowed-in-right:after {
  right: -6px;
  border-width: 12px 6px;
}
.label-xlg {
  padding: 0.3em 0.7em 0.4em;
  font-size: 14px;
  line-height: 1.3;
  height: 28px;
}
.label-xlg.arrowed {
  margin-left: 7px;
}
.label-xlg.arrowed:before {
  left: -14px;
  border-width: 14px 7px;
}
.label-xlg.arrowed-in {
  margin-left: 7px;
}
.label-xlg.arrowed-in:before {
  left: -7px;
  border-width: 14px 7px;
}
.label-xlg.arrowed-right {
  margin-right: 7px;
}
.label-xlg.arrowed-right:after {
  right: -14px;
  border-width: 14px 7px;
}
.label-xlg.arrowed-in-right {
  margin-right: 7px;
}
.label-xlg.arrowed-in-right:after {
  right: -7px;
  border-width: 14px 7px;
}
.label-sm {
  padding: 0.2em 0.4em 0.3em;
  font-size: 11px;
  line-height: 1;
  height: 18px;
}
.label-sm.arrowed {
  margin-left: 4px;
}
.label-sm.arrowed:before {
  left: -8px;
  border-width: 9px 4px;
}
.label-sm.arrowed-in {
  margin-left: 4px;
}
.label-sm.arrowed-in:before {
  left: -4px;
  border-width: 9px 4px;
}
.label-sm.arrowed-right {
  margin-right: 4px;
}
.label-sm.arrowed-right:after {
  right: -8px;
  border-width: 9px 4px;
}
.label-sm.arrowed-in-right {
  margin-right: 4px;
}
.label-sm.arrowed-in-right:after {
  right: -4px;
  border-width: 9px 4px;
}
.label > span,
.label > .ace-icon {
  line-height: 1;
  vertical-align: bottom;
}
.label.label-white {
  color: #879da9;
  border: 1px solid #ABBAC3;
  background-color: #f2f5f6;
  border-right-width: 1px;
  border-left-width: 2px;
}
.label-white.label-success {
  color: #7b9e6c;
  border-color: #9fbf92;
  background-color: #edf3ea;
}
.label-white.label-warning {
  color: #d9993e;
  border-color: #e4ae62;
  background-color: #fef6eb;
}
.label-white.label-primary {
  color: #6688a6;
  border-color: #8aafce;
  background-color: #eaf2f8;
}
.label-white.label-danger {
  color: #bd7f75;
  border-color: #d28679;
  background-color: #fcf4f2;
}
.label-white.label-info {
  color: #4e7a8f;
  border-color: #7aa1b4;
  background-color: #eaf3f7;
}
.label-white.label-inverse {
  color: #404040;
  border-color: #737373;
  background-color: #ededed;
}
.label-white.label-pink {
  color: #af6f87;
  border-color: #d299ae;
  background-color: #fbeff4;
}
.label-white.label-purple {
  color: #7d6fa2;
  border-color: #b7b1c6;
  background-color: #efedf5;
}
.label-white.label-yellow {
  color: #cfa114;
  border-color: #ecd181;
  background-color: #fdf7e4;
}
.label-white.label-grey {
  color: #878787;
  border-color: #cecece;
  background-color: #ededed;
}
@media screen and (-webkit-min-device-pixel-ratio: 1.08) and (-webkit-max-device-pixel-ratio: 1.15), screen and (min--moz-device-pixel-ratio: 1.08) and (max--moz-device-pixel-ratio: 1.15) {
  .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed:before {
    border-width: 10.5px 6px 11px;
    left: -11px;
  }
  .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-right:after {
    border-width: 10.5px 6px 11px;
    right: -11px;
  }
  .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-in:before {
    border-width: 10.5px 5px 11px;
    left: -6px;
  }
  .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-in-right:after {
    border-width: 10.5px 5px 11px;
    right: -6px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.2) and (-webkit-max-device-pixel-ratio: 1.45), screen and (min--moz-device-pixel-ratio: 1.2) and (max--moz-device-pixel-ratio: 1.45), screen and (-webkit-min-device-pixel-ratio: 1.6) and (-webkit-max-device-pixel-ratio: 1.9), screen and (min--moz-device-pixel-ratio: 1.6) and (max--moz-device-pixel-ratio: 1.9) {
  .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed:before {
    border-width: 10.5px 6px;
    left: -11px;
  }
  .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-right:after {
    border-width: 10.5px 6px;
    right: -11px;
  }
  .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-in:before {
    border-width: 10.5px 5px 10px;
    left: -6px;
  }
  .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-in-right:after {
    border-width: 10.5px 5px 10px;
    right: -6px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.6), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.6) {
  .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed:before {
    border-width: 10px 6px;
    left: -12px;
  }
  .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-right:after {
    border-width: 10px 6px;
    right: -12px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.7) and (-webkit-max-device-pixel-ratio: 1.8), screen and (min--moz-device-pixel-ratio: 1.7) and (max--moz-device-pixel-ratio: 1.8) {
  .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed:before {
    border-width: 10px 6px;
    left: -11.5px;
  }
  .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-right:after {
    border-width: 10px 6px;
    right: -11.5px;
  }
  .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-in:before {
    border-width: 10px 5px;
    left: -6px;
  }
  .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-in-right:after {
    border-width: 10px 5px;
    right: -6px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 0.8) and (-webkit-max-device-pixel-ratio: 0.9), screen and (min--moz-device-pixel-ratio: 0.8) and (max--moz-device-pixel-ratio: 0.9) {
  .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed:before {
    border-width: 11px 6px;
    left: -11.5px;
  }
  .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-right:after {
    border-width: 11px 6px;
    right: -11.5px;
  }
  .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-in:before {
    border-width: 11px 5px;
    left: -6px;
  }
  .label:not(.label-lg):not(.label-xlg):not(.label-sm).arrowed-in-right:after {
    border-width: 11px 5px;
    right: -6px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.08) and (-webkit-max-device-pixel-ratio: 1.15), screen and (min--moz-device-pixel-ratio: 1.08) and (max--moz-device-pixel-ratio: 1.15) {
  .label-lg.arrowed:before {
    left: -11px;
  }
  .label-lg.arrowed-right:after {
    right: -11px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.7) and (-webkit-max-device-pixel-ratio: 1.8), screen and (min--moz-device-pixel-ratio: 1.7) and (max--moz-device-pixel-ratio: 1.8) {
  .label-lg.arrowed:before {
    left: -11.5px;
  }
  .label-lg.arrowed-right:after {
    right: -11.5px;
  }
  .label-lg.arrowed-in:before {
    border-width: 12.5px 6px 12px;
    left: -6px;
  }
  .label-lg.arrowed-in-right:after {
    border-width: 12.5px 6px 12px;
    right: -6px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.08) and (-webkit-max-device-pixel-ratio: 1.15), screen and (min--moz-device-pixel-ratio: 1.08) and (max--moz-device-pixel-ratio: 1.15) {
  .label-xlg.arrowed:before {
    left: -13px;
  }
  .label-xlg.arrowed-right:after {
    right: -13px;
  }
  .label-xlg.arrowed-in:before {
    border-width: 14px 7px 14.5px;
  }
  .label-xlg.arrowed-in-right:after {
    border-width: 14px 7px 14.5px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.2) and (-webkit-max-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.2) and (max--moz-device-pixel-ratio: 1.3) {
  .label-xlg.arrowed:before {
    border-width: 14.5px 7px;
    left: -13.5px;
  }
  .label-xlg.arrowed-right:after {
    border-width: 14.5px 7px;
    right: -13.5px;
  }
  .label-xlg.arrowed-in:before {
    border-width: 14.5px 7px 14.5px;
  }
  .label-xlg.arrowed-in-right:after {
    border-width: 14.5px 7px 14.5px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.3) and (-webkit-max-device-pixel-ratio: 1.4), screen and (-webkit-min-device-pixel-ratio: 1.5) and (-webkit-max-device-pixel-ratio: 1.6), screen and (min--moz-device-pixel-ratio: 1.3) and (max--moz-device-pixel-ratio: 1.4), screen and (min--moz-device-pixel-ratio: 1.5) and (max--moz-device-pixel-ratio: 1.6) {
  .label-xlg.arrowed:before {
    border-width: 14.5px 7.5px;
    left: -14.5px;
  }
  .label-xlg.arrowed-right:after {
    border-width: 14.5px 7.5px;
    right: -14.5px;
  }
  .label-xlg.arrowed-in:before {
    border-width: 14.5px 7px;
  }
  .label-xlg.arrowed-in-right:after {
    border-width: 14.5px 7px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.08) and (-webkit-max-device-pixel-ratio: 1.15), screen and (min--moz-device-pixel-ratio: 1.08) and (max--moz-device-pixel-ratio: 1.15) {
  .label-sm.arrowed:before {
    border-width: 9px 5px;
    left: -9px;
  }
  .label-sm.arrowed-right:after {
    border-width: 9px 5px;
    right: -9px;
  }
  .label-sm.arrowed-in:before {
    border-width: 10px 4px;
  }
  .label-sm.arrowed-in-right:after {
    border-width: 10px 4px;
  }
}
@media screen and (-webkit-min-device-pixel-ratio: 1.2) and (-webkit-max-device-pixel-ratio: 1.3), screen and (min--moz-device-pixel-ratio: 1.2) and (max--moz-device-pixel-ratio: 1.3) {
  .label-sm.arrowed:before {
    border-width: 9.5px 5px;
    left: -10px;
  }
  .label-sm.arrowed-right:after {
    border-width: 9.5px 5px;
    right: -10px;
  }
  .label-sm.arrowed-in:before {
    border-width: 9.5px 4px;
  }
  .label-sm.arrowed-in-right:after {
    border-width: 9.5px 4px;
  }
}

/******** Form wizard ***/
.stepwizard-step p {
    margin-top: 10px;
	text-transform:uppercase;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
}

/*** Button Disabled Wizard Style ***/
.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
    background-color: #fff;
    border-color: #ccc;
}
.btn.disabled, .btn[disabled], fieldset[disabled] .btn {
    pointer-events: none;
    cursor: not-allowed;
    opacity: .65;
    filter: alpha(opacity=65);
    -webkit-box-shadow: none;
    box-shadow: none;
}
/*** End Button Disabled Wizard Style ***/

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    bottom: 10px;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #dee2e6;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
  -moz-border-radius:15px; 
    -webkit-border-radius: 15px;
}
/** NavTabs ***/
.nav-tabs a { padding:5px 10px; color:#000000; }
.nav-tabs li a.active { color:#33b35a}
/*** Table Style *****/
.table th .i-checks, .table td .i-checks { padding-left:10px;}
.table th, .table td { padding:5px;}
 
.table td { font-size: 13px; }
/** Card Components **/
.pull-right { float:right; }
.in-block { display:inline-block}
.tmpend { margin-left:20px;}
.clearfix {
  overflow: auto; clear:both;
  zoom: 1;
}
.clearfix:after {
    clear: both;
    content: "";
    display: block;
}
/** SElect Box Height Adjustment ***/
.form-control {height:calc(2.25rem + 2px);}
section.dashboard-counts .student-entry .row { padding-bottom:0; padding-top:0 }
.ptb-20 { padding:20px 0;}
span.selection { display:block;}
.select2-container { height:36px; }
.select2-container--default .select2-selection--single {  background-color:none; border:none; border-radius:none; }
.select2-container--default .select2-selection--single .select2-selection__arrow { height: 40px; }
.select2-container .select2-selection--single { height:inherit; }
span.selection .select2-selection__rendered { 
	border: 1px solid #dee2e6;
    border-radius: 0;
    padding: 0.375rem 0.75rem;
    font-size: inherit; }
	
/** Profile Info of Student ***/
.card{
    display:inline-block;
    position:relative;
    width:100%;
    border-radius:3px;
    color:rgb(52, 69, 98);
    background:#fff;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.14),0 3px 1px -2px rgba(0,0,0,0.2),0 1px 5px 0 rgba(0,0,0,0.12)
}
.card .card-height-indicator{
    margin-top:100%
}
.card .card-content{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0
}
.card .card-image{
    height:60%;
    position:relative;
    overflow:hidden
}
.card .card-image img{
    width:100%;
    height:100%;
    border-top-left-radius:2px;
    border-top-right-radius:2px;
    pointer-events:none
}
.card .card-image .card-image-headline{
    position:absolute;
    bottom:16px;
    left:18px;
    color:#fff;
    font-size:2em
}
.card .content{
    padding:15px
}
.card .card-body{
  height: 30%;
    padding: 15px 18px 18px 18px;
}
.card .card-footer{
    height:10%;
    padding:18px
}
.card .card-footer button,.card .card-footer a{
    margin:0 !important;
    position:relative;
    bottom:25px;
    width:auto
}
.card .card-footer button:first-child,.card .card-footer a:first-child{
    left:-15px
}
.card .header{
    box-shadow:0 16px 38px -12px rgba(0,0,0,0.56),0 4px 25px 0px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
    margin:15px;
    border-radius:3px;
    padding:15px 0;
    background-color:#fff
}
.card .header-primary{
    background:linear-gradient(60deg, #F15F79, #B24592)
}
.card .header-info{
    background:linear-gradient(60deg, #29b6f6, #0288d1)
}
.card .header-success{
    background:linear-gradient(60deg, #66bb6a, #388e3c)
}
.card .header-warning{
    background:linear-gradient(60deg, #fdd835, #fbc02d)
}
.card .header-danger{
    background:linear-gradient(60deg, #ef5350, #d32f2f)
}
.card [class*="header-"]{
    color:#FFFFFF
}
.card-raised{
    box-shadow:0 16px 38px -12px rgba(0,0,0,0.56),0 4px 25px 0px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2)
}
.card-signup .header{
    box-shadow:0 16px 38px -12px rgba(0,0,0,0.56),0 4px 25px 0px rgba(0,0,0,0.12),0 8px 10px -5px rgba(0,0,0,0.2);
    margin-left:20px;
    margin-right:20px;
    margin-top:-40px;
    padding:20px 0
}
.card-signup .text-divider{
    margin-top:30px;
    margin-bottom:0px;
    text-align:center
}
.card-signup .content{
    padding:0px 30px 0px 10px
}
.card-signup .checkbox{
    margin-top:20px
}
.card-signup .checkbox label{
    margin-left:17px
}
.card-signup .checkbox .checkbox-material{
    padding-right:12px
}
.card-signup .social-line{
    margin-top:15px;
    text-align:center
}
.card-signup .social-line .btn{
    color:#fff;
    margin-left:5px;
    margin-right:5px
}
.card-nav-tabs{
    margin-top:45px
}
.card-nav-tabs .header{
    margin-top:-30px
}
.card-nav-tabs .nav-tabs{
    background:transparent
}
.card-plain{
    background:transparent;
    box-shadow:none
}
.card-plain .header{
    margin-left:0;
    margin-right:0
}
.card-plain .content{
    padding-left:0;
    padding-right:0
}

.card{
    background:#fff;
    min-height:50px;
    /*box-shadow:none;*/
    position:relative;
    margin-bottom:30px;
    transition:.5s;
    border:none;
    border-radius:5px
}
.card .card-inside-title{
    margin-top:25px;
    margin-bottom:15px;
    display:block;
    font-size:15px;
    color:#000
}
.card .card-inside-title small{
    color:#999;
    display:block;
    font-size:11px;
    margin-top:5px
}
.card .card-inside-title small a{
    color:#777;
    font-weight:bold
}
.card .card-inside-title:first-child{
    margin-top:0
}
.card .bg-red,.card .bg-pink,.card .bg-purple,.card .bg-deep-purple,.card .bg-indigo,.card .bg-blue,.card .bg-light-blue,.card .bg-cyan,.card .bg-teal,.card .bg-green,.card .bg-light-green,.card .bg-lime,.card .bg-yellow,.card .bg-amber,.card .bg-orange,.card .bg-deep-orange,.card .bg-brown,.card .bg-grey,.card .bg-blue-grey,.card .bg-blush,.card .bg-black{
    border-bottom:none !important;
    color:#fff !important
}
.card .bg-red h2,.card .bg-red small,.card .bg-red .material-icons,.card .bg-pink h2,.card .bg-pink small,.card .bg-pink .material-icons,.card .bg-purple h2,.card .bg-purple small,.card .bg-purple .material-icons,.card .bg-deep-purple h2,.card .bg-deep-purple small,.card .bg-deep-purple .material-icons,.card .bg-indigo h2,.card .bg-indigo small,.card .bg-indigo .material-icons,.card .bg-blue h2,.card .bg-blue small,.card .bg-blue .material-icons,.card .bg-light-blue h2,.card .bg-light-blue small,.card .bg-light-blue .material-icons,.card .bg-cyan h2,.card .bg-cyan small,.card .bg-cyan .material-icons,.card .bg-teal h2,.card .bg-teal small,.card .bg-teal .material-icons,.card .bg-green h2,.card .bg-green small,.card .bg-green .material-icons,.card .bg-light-green h2,.card .bg-light-green small,.card .bg-light-green .material-icons,.card .bg-lime h2,.card .bg-lime small,.card .bg-lime .material-icons,.card .bg-yellow h2,.card .bg-yellow small,.card .bg-yellow .material-icons,.card .bg-amber h2,.card .bg-amber small,.card .bg-amber .material-icons,.card .bg-orange h2,.card .bg-orange small,.card .bg-orange .material-icons,.card .bg-deep-orange h2,.card .bg-deep-orange small,.card .bg-deep-orange .material-icons,.card .bg-brown h2,.card .bg-brown small,.card .bg-brown .material-icons,.card .bg-grey h2,.card .bg-grey small,.card .bg-grey .material-icons,.card .bg-blue-grey h2,.card .bg-blue-grey small,.card .bg-blue-grey .material-icons,.card .bg-blush h2,.card .bg-blush small,.card .bg-blush .material-icons,.card .bg-black h2,.card .bg-black small,.card .bg-black .material-icons{
    color:#fff !important
}
.card .bg-red .badge,.card .bg-pink .badge,.card .bg-purple .badge,.card .bg-deep-purple .badge,.card .bg-indigo .badge,.card .bg-blue .badge,.card .bg-light-blue .badge,.card .bg-cyan .badge,.card .bg-teal .badge,.card .bg-green .badge,.card .bg-light-green .badge,.card .bg-lime .badge,.card .bg-yellow .badge,.card .bg-amber .badge,.card .bg-orange .badge,.card .bg-deep-orange .badge,.card .bg-brown .badge,.card .bg-grey .badge,.card .bg-blue-grey .badge,.card .bg-blush .badge,.card .bg-black .badge{
    background-color:#fff;
    color:#555
}
.card .header{
    color:#555;
    padding:0 0 10px 0;
    position:relative;
    box-shadow:none;
    margin-bottom:0;
    border-radius:0
}
.card .header .header-dropdown{
    position:absolute;
    top:-5px;
    right:5px;
    list-style:none;
    margin:0;
    padding:0
}
.card .header .header-dropdown a{
    padding:8px 10px;
    display:block
}
.card .header .header-dropdown a:hover{
    color:inherit;
    text-decoration:none
}
.card .header .header-dropdown a::after{
    display:none
}
.card .header .header-dropdown .dropdown-menu li{
    display:block !important
}
.card .header .header-dropdown li{
    display:inline-block
}
.card .header .header-dropdown i{
    font-size:20px;
    color:#999;
    -moz-transition:all 0.5s;
    -o-transition:all 0.5s;
    -webkit-transition:all 0.5s;
    transition:all 0.5s
}
.card .header .header-dropdown i:hover{
    color:#000
}
.card .header h2{
    margin:0;
    font-size:16px;
    font-weight:normal;
    color:#111;
    text-transform:uppercase
}
.card .header h2 small{
    display:block;
    font-size:12px;
    margin-top:5px;
    color:#999;
    line-height:15px;
    text-transform:capitalize
}
.card .header h2 small a{
    font-weight:bold;
    color:#777
}
.card .p-15{
    padding:15px !important
}
.card .body{
    font-size:14px;
    color:#444;
    padding:15px;
    font-weight:400
}
.card .body .col-xs-1,.card .body .col-sm-1,.card .body .col-md-1,.card .body .col-lg-1{
    margin-bottom:0px
}
.card .body .col-xs-2,.card .body .col-sm-2,.card .body .col-md-2,.card .body .col-lg-2{
    margin-bottom:0px
}
.card .body .col-xs-3,.card .body .col-sm-3,.card .body .col-md-3,.card .body .col-lg-3{
    margin-bottom:0px
}
.card .body .col-xs-4,.card .body .col-sm-4,.card .body .col-md-4,.card .body .col-lg-4{
    margin-bottom:0px
}
.card .body .col-xs-5,.card .body .col-sm-5,.card .body .col-md-5,.card .body .col-lg-5{
    margin-bottom:0px
}
.card .body .col-xs-6,.card .body .col-sm-6,.card .body .col-md-6,.card .body .col-lg-6{
    margin-bottom:0px
}
.card .body .col-xs-7,.card .body .col-sm-7,.card .body .col-md-7,.card .body .col-lg-7{
    margin-bottom:0px
}
.card .body .col-xs-8,.card .body .col-sm-8,.card .body .col-md-8,.card .body .col-lg-8{
    margin-bottom:0px
}
.card .body .col-xs-9,.card .body .col-sm-9,.card .body .col-md-9,.card .body .col-lg-9{
    margin-bottom:0px
}
.card .body .col-xs-10,.card .body .col-sm-10,.card .body .col-md-10,.card .body .col-lg-10{
    margin-bottom:0px
}
.card .body .col-xs-11,.card .body .col-sm-11,.card .body .col-md-11,.card .body .col-lg-11{
    margin-bottom:0px
}
.card .body .col-xs-12,.card .body .col-sm-12,.card .body .col-md-12,.card .body .col-lg-12{
    margin-bottom:0px
}

/************** */
section.dashboard-counts .row { padding: 0 }

/*** Tabs ****/
.custom-tab-content .nav-tabs { border-bottom: 1px solid transparent; margin-bottom: 20px; }
.custom-tab > li > a {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;

}
.custom-tab > li {
-webkit-border-radius: 0;
-moz-border-radius: 0;
border-radius: 0;
}

.custom-tab > li > a:link {
    /*border-top: 3px solid #33b35a;
	border-right: 1px solid #33b35a;
	border-left: 1px solid #33b35a;*/
	font-weight:600; padding:8px 15px 6px 15px;
	text-transform:uppercase; font-size:14px; color:rgba(0, 0, 0, 0.4); border-bottom: 2px solid transparent; border-left:1px solid transparent; border-right:1px solid transparent; border-top:1px solid transparent;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:visited,  .nav-tabs > li a.active{ 
   /* border-top: 3px solid #33b35a;
	border-right: 1px solid #33b35a;
	border-left: 1px solid #33b35a;*/
	color: #344562;
    border-bottom: 2px solid #344562; border-left:1px solid rgba(1,87,155,0.01); background: #eff3f6;
	border-radius: 5px 5px 0 0 ;
}

.link-lable{
text-decoration:none;
}
 @media screen and (max-width: 767px)
        {
		
         .link-lable{
			display:none;
		 }
        }
		
.input-group .input-group-addon { padding: 6px; }
.input-group .input-group-addon i { color:#4f6055}
.nav-item i {color:#FFFFFF; }
nav.side-navbar li.active a i, nav.side-navbar li a:hover i { color: #2b90d9; }
nav.side-navbar li.active li i { color:#33b35a}
nav.side-navbar li.active li a:hover i { color:#4f6055 }
.btn-success i, .btn-info i, .btn-danger i { color:#d3e4e6 }

.page-item a { color:inherit}
.xs-mt-20 { margin-top:20px; }
.xs-p-10 { padding:10px; }
.xs-p-20 { padding:20px; }
.xs-p-30 { padding:30px; }
.xs-p-40 { padding:40px; }
.xs-p-50  { padding:50px; }
.multiselect-container  { height:200px; overflow:auto; width:280px;}
.multiselect-container li a {
    display: block;
    padding: 5px 10px;
    font-size: 14px;
    color: inherit; text-decoration:none;
}
.multiselect-container li a label { padding:0; margin:0; display: block; }
h2.title { margin:10px 0;}
.shadow {   -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1); }
table th { text-transform: uppercase}
.table thead th { border-width:1px; }

.os-tabs-controls {
  margin-bottom: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow:auto;
  overflow-y: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .os-tabs-controls .nav-pills {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
  .os-tabs-controls .nav-tabs {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1; }
			
			/* 3d. Override bootstrap navigation styles */
.nav.smaller {
  font-size: 0.72rem; }
  .nav.smaller.nav-tabs .nav-link {
    padding: 0.7em 1.1em; }
  .nav.smaller.nav-pills .nav-link {
    padding: 0.2em 1.1em; }

.nav.bigger {
  font-size: 1.25rem;
  font-family: "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500; }
  .nav.bigger.nav-tabs .nav-link.active:after,
  .nav.bigger.nav-tabs .nav-item.show .nav-link:after {
    height: 6px;
    bottom: -3px;
    border-radius: 2px; }
  .nav.bigger.nav-tabs .nav-link {
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 2rem; }

.nav.upper {
  font-size: 0.8rem;
  font-family: "Proxima Nova W01", "Rubik", -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px; }
  .nav.upper.nav-tabs .nav-link.active:after,
  .nav.upper.nav-tabs .nav-item.show .nav-link:after {
    height: 3px;
    bottom: -2px;
    border-radius: 2px; }
  .nav.upper.nav-tabs .nav-link {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 5px;
    margin-right: 2rem; }
  .nav.upper.centered.nav-tabs .nav-link {
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 5px;
    margin-left: 1rem;
    margin-right: 1rem; }
  .nav.upper.centered.nav-tabs .nav-item {
    margin-right: 0px; }

.nav.centered {
  text-align: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }

.nav-link i {
  display: inline-block;
  color: #9eb1c8;
  font-size: 26px;
  margin-bottom: 5px; }

.nav-link span {
  display: inline-block;
  font-size: 0.72rem; }

.nav-link.active i {
  color: #001b3d; }

  
.nav-tabs .nav-item {
  margin-bottom: 0px;
  margin-right: 1rem; }

.nav-tabs .nav-link {
  border: none;
  color: rgba(0, 0, 0, 0.3); }
  .nav-tabs .nav-link.disabled {
    color: #636c72;
    background-color: transparent;
    border-color: transparent; }

.nav-tabs .nav-link,
.nav-tabs .nav-item .nav-link {
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
  position: relative; }
  .nav-tabs .nav-link:after,
  .nav-tabs .nav-item .nav-link:after {
    content: "";
    width: 0%;
    height: 3px;
    background-color: #01579b;
    position: absolute;
    bottom: -2px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease; }

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link:hover,
.nav-tabs .nav-item:hover .nav-link {
  color: #01579b;
  background-color: transparent;
  border-color: #ddd #ddd transparent transparent;
  position: relative; }
  .nav-tabs .nav-link.active:after,
  .nav-tabs .nav-item.show .nav-link:after,
  .nav-tabs .nav-link:hover:after,
  .nav-tabs .nav-item:hover .nav-link:after {
    width: 100%; }

.nav-pills .nav-link {
  border-radius: 30px;
  color: rgba(0, 0, 0, 0.4); }

.nav-pills .nav-link.active,
.nav-pills .nav-item.show .nav-link {
  color: #fff;
  cursor: default;
  background-color: #001b3d; }
  
  
/*** Main Menu ************/
.menu-shad {
    box-shadow: 0px 0px 30px rgba(69, 101, 173, 0.1);
    padding: 0px 0px 0px 10px;
    text-align: center;
}
.body-content .card { border-radius:0 }
.body-content .card .card-body {
    height: 30%;
    padding: 20px 0px;
}

[type=reset], [type=submit], button, html [type=button] { -webkit-appearance: inherit; }

#addNewStudent .stepwizard{ margin-top:10px; }
.stepwizard .btn-default { background-color: #FFF; }
.stepwizard .btn-default.btn-primary { background:#344562}
.fade.in {opacity:1}
 
/************ START CONTROL PANEL **********/
.containerCenter { margin:0 auto; }
.bs-box .panel-default { width:100% }
.panel {
    margin-bottom: 20px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.panel-default {
    border-color: #ddd;
}
.panel-default>.panel-heading {
    color: #333;
    background-color: #f5f5f5;
    border-color: #ddd;
}
.panel-heading {
    padding: 10px 15px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
}

.panel-body {
    padding: 15px;
}
ul.bs-box {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}
ul.bs-box>li {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
}
ul.bs-box>li {
font-weight: bold;
}
ul.bs-box>li>a {
    border-bottom: 2px solid #33b35a;
    text-decoration: none;
    color: black;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
ul.bs-box>li>a:hover {
     box-shadow: 0 3px 8px rgba(0,0,0,0.15);
    -webkit-box-shadow: 0 3px 8px rgba(0,0,0,0.15);
    -moz-box-shadow: 0 3px 8px rgba(0,0,0,0.15);
}


.side-navbar ul li {
    border-top: 1px solid #eef5f9;
}
.side-navbar ul li:first-child { border-top: 1px solid #eff3f6}

nav.navbar .nav-link.logout i {
    margin-bottom: 0;
    vertical-align: middle;
}
 
.login-page::before {     -webkit-filter: blur(0px)  !important;
    filter: blur(0px)  !important; }
    
.login-page .form-holder .info::after {
	content: "";
	background-image: url(../img/bg_block.jpg);
	background-repeat:no-repeat;
	 background-size: 100%;
	 background-size: cover;
	opacity: 0.9;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1; 
}

select.form-control:not([size]):not([multiple]), .form-control { height:34px; font-size:13px; }

.mdfield { color: red; }
.content.text-center {width:100%}
a.link-block { display:block; text-decoration:none; padding:10px 10px; border-bottom:1px solid #f9f9f9;  }
a.link-block:hover { background-color:#f3f3f3; }
a.link-block img {
    vertical-align: bottom; padding-right:10px
}
.m-t-10 { margin-top:10px; }
.m-t-20 { margin-top:20px; }

/*** Modal Popup Center in the Page ***/
.modal {
  max-height: calc(100% - 100px);
  position: fixed;
    top: 50%;
    left: 50%;
  transform: translate(-50%, -50%);
}
.page-section-title { padding: 15px 15px 0 15px;
    margin-bottom: 0;
    text-transform: uppercase; font-weight:600; }
.page-section-title .icon { display:inline-block; margin-right:5px; }
.client-avatar {display:block; text-align:center; }
.client-avatar img { width:100px; border:3px solid #cecece; }
.dataTable th, .dataTable td { white-space: nowrap; }

.table-striped th, .table-striped td { white-space: nowrap}

/*** SMS CHECK BOXes for innerr feature *******/
.custom-padding { padding: 20px 10px 10px 10px }
.primary_header {     border: 1px solid #e8e8e8; 
    background: #f9f9f9;
    padding: 10px 0 0px 10px;}
    .phBody {  padding: 10px 0 0px 10px;
    background: #fdfdfd;
    border: 1px solid #e8e8e8;
    border-top: none; min-height:130px}
  .phBody .xs-p-10 {     background: #f9f9f9;
    border-bottom: 1px solid #dae2e7;
    margin-bottom: 10px; }
.chkBoxes { display: block; padding-top:5px }
.chkBoxes a { float: right; padding-right: 10px;}
.bBottomline { border-bottom: 1px solid #dbdbdb }
